/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html.body {
  font-family: "Microsoft JhengHei", sans-serif; }

a {
  text-decoration: none;
  color: #666666; }

a:hover,
a:active {
  color: #73c0d8; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-size: 1rem;
  color: #333333; }

.h1,
h1 {
  font-size: 1.8125rem; }

.h2,
h2 {
  font-size: 1.1875rem; }

.h3,
h3 {
  font-size: 0.875rem; }

.h4,
h4 {
  font-size: 0.75rem; }

.h5,
h5 {
  font-size: 0.625rem; }

.h6,
h6 {
  font-size: 0.5rem; }

.h-bg-primary {
  background-color: #73c0d8; }

.h-text-primary {
  color: #73c0d8; }

.h-bg-secondary {
  background-color: #ffa573; }

.h-text-secondary {
  color: #ffa573; }

.h-bg-info {
  background-color: #a5a5a5; }

.h-text-info {
  color: #a5a5a5; }

.h-bg-notice {
  background-color: #faf900; }

.h-text-notice {
  color: #faf900; }

.h-bg-light {
  background-color: #f8f9fa; }

.h-text-light {
  color: #f8f9fa; }

.h-bg-dark {
  background-color: #666666; }

.h-text-dark {
  color: #666666; }

.h-bg-white {
  background-color: #fff; }

.h-text-white {
  color: #fff; }

.h-ml-0 {
  margin-left: 0rem; }

.h-mr-0 {
  margin-right: 0rem; }

.h-mt-0 {
  margin-top: 0rem; }

.h-mb-0 {
  margin-bottom: 0rem; }

.h-my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.h-mx-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.h-m-0 {
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }

.h-pl-0 {
  padding-left: 0rem; }

.h-pr-0 {
  padding-right: 0rem; }

.h-pt-0 {
  padding-top: 0rem; }

.h-pb-0 {
  padding-bottom: 0rem; }

.h-py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.h-px-0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.h-p-0 {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem; }

.h-ml-1 {
  margin-left: 0.25rem; }

.h-mr-1 {
  margin-right: 0.25rem; }

.h-mt-1 {
  margin-top: 0.25rem; }

.h-mb-1 {
  margin-bottom: 0.25rem; }

.h-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.h-mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.h-m-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.h-pl-1 {
  padding-left: 0.25rem; }

.h-pr-1 {
  padding-right: 0.25rem; }

.h-pt-1 {
  padding-top: 0.25rem; }

.h-pb-1 {
  padding-bottom: 0.25rem; }

.h-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.h-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.h-p-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.h-ml-2 {
  margin-left: 0.5rem; }

.h-mr-2 {
  margin-right: 0.5rem; }

.h-mt-2 {
  margin-top: 0.5rem; }

.h-mb-2 {
  margin-bottom: 0.5rem; }

.h-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.h-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.h-m-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.h-pl-2 {
  padding-left: 0.5rem; }

.h-pr-2 {
  padding-right: 0.5rem; }

.h-pt-2 {
  padding-top: 0.5rem; }

.h-pb-2 {
  padding-bottom: 0.5rem; }

.h-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.h-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.h-p-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.h-ml-3 {
  margin-left: 0.75rem; }

.h-mr-3 {
  margin-right: 0.75rem; }

.h-mt-3 {
  margin-top: 0.75rem; }

.h-mb-3 {
  margin-bottom: 0.75rem; }

.h-my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.h-mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.h-m-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.h-pl-3 {
  padding-left: 0.75rem; }

.h-pr-3 {
  padding-right: 0.75rem; }

.h-pt-3 {
  padding-top: 0.75rem; }

.h-pb-3 {
  padding-bottom: 0.75rem; }

.h-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.h-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.h-p-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.h-ml-4 {
  margin-left: 0.875rem; }

.h-mr-4 {
  margin-right: 0.875rem; }

.h-mt-4 {
  margin-top: 0.875rem; }

.h-mb-4 {
  margin-bottom: 0.875rem; }

.h-my-4 {
  margin-top: 0.875rem;
  margin-bottom: 0.875rem; }

.h-mx-4 {
  margin-left: 0.875rem;
  margin-right: 0.875rem; }

.h-m-4 {
  margin-left: 0.875rem;
  margin-right: 0.875rem;
  margin-top: 0.875rem;
  margin-bottom: 0.875rem; }

.h-pl-4 {
  padding-left: 0.875rem; }

.h-pr-4 {
  padding-right: 0.875rem; }

.h-pt-4 {
  padding-top: 0.875rem; }

.h-pb-4 {
  padding-bottom: 0.875rem; }

.h-py-4 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem; }

.h-px-4 {
  padding-left: 0.875rem;
  padding-right: 0.875rem; }

.h-p-4 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem; }

.h-ml-5 {
  margin-left: 1rem; }

.h-mr-5 {
  margin-right: 1rem; }

.h-mt-5 {
  margin-top: 1rem; }

.h-mb-5 {
  margin-bottom: 1rem; }

.h-my-5 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.h-mx-5 {
  margin-left: 1rem;
  margin-right: 1rem; }

.h-m-5 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.h-pl-5 {
  padding-left: 1rem; }

.h-pr-5 {
  padding-right: 1rem; }

.h-pt-5 {
  padding-top: 1rem; }

.h-pb-5 {
  padding-bottom: 1rem; }

.h-py-5 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.h-px-5 {
  padding-left: 1rem;
  padding-right: 1rem; }

.h-p-5 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.h-mx-auto {
  margin-left: auto;
  margin-right: auto; }

.h-text-center {
  text-align: center; }

.h-text-left {
  text-align: left; }

.h-text-right {
  text-align: right; }

.h-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.h-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.h-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.h-flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.h-flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.h-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.h-flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.h-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }

.h-flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.h-flex-grow-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.h-flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.h-flex-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.h-flex-shrink-1 {
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.h-justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.h-justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.h-justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.h-justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.h-justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.h-align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.h-align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.h-align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.h-align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.h-align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.h-align-content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.h-align-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end; }

.h-align-content-center {
  -ms-flex-line-pack: center;
      align-content: center; }

.h-align-content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.h-align-content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around; }

.h-align-content-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.h-align-self-auto {
  -ms-flex-item-align: auto;
      align-self: auto; }

.h-align-self-start {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.h-align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.h-align-self-center {
  -ms-flex-item-align: center;
      align-self: center; }

.h-align-self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline; }

.h-align-self-stretch {
  -ms-flex-item-align: stretch;
      align-self: stretch; }

/* mobile menu click */
.c-sideButton {
  position: absolute;
  top: 123px;
  right: -17px;
  height: 49px;
  width: 17px;
  background: url("../images/baseline_keyboard_arrow_left_white_24dp.png") no-repeat center center;
  background-color: #73c0d8;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 5px 5px 0px; }

.c-loading {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8); }
  .c-loading__ring {
    position: absolute;
    width: 58px;
    height: 58px;
    z-index: 9999;
    top: 0.8rem;
    right: 0.8rem; }
  .c-loading__ring div {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    margin: 8px;
    border: 3px solid #056ef7;
    border-radius: 50%;
    -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #056ef7 transparent transparent transparent; }
  .c-loading__ring div:nth-child(1) {
    -webkit-animation-delay: -0.45s;
            animation-delay: -0.45s; }
  .c-loading__ring div:nth-child(2) {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .c-loading__ring div:nth-child(3) {
    -webkit-animation-delay: -0.15s;
            animation-delay: -0.15s; }

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.p-wrap {
  position: relative; }

.p-sidebar {
  position: absolute;
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  @media (max-width: 767px) {
    .p-sidebar {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); } }
  .p-sidebar.active {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }
    @media (max-width: 767px) {
      .p-sidebar.active {
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%); } }

.p-map {
  height: 100vh;
  width: calc(100vw - 250px);
  -webkit-transform: translateX(250px);
      -ms-transform: translateX(250px);
          transform: translateX(250px);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .p-map.active {
    width: 100vw;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px); }
  @media (max-width: 767px) {
    .p-map {
      -webkit-transform: translateX(0px);
          -ms-transform: translateX(0px);
              transform: translateX(0px);
      width: 100vw; } }

.p-nav {
  position: -webkit-sticky;
  position: sticky;
  background-color: #73c0d8;
  padding: 0.46875rem 0.59375rem;
  color: #fff; }
  .p-nav .p-select {
    height: 31px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #fff;
    border: none;
    padding: 0px 10px;
    border-radius: 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #fff url("../images/baseline_arrow_drop_down_black_18dp.png") no-repeat 95% center;
    background-size: 24px; }
    .p-nav .p-select + .p-select {
      margin-left: 0.5rem; }

.c-shrinkIcon {
  position: relative; }
  .c-shrinkIcon__input {
    height: 31px;
    width: 100%;
    background-color: #fff;
    border: none;
    padding-left: 10px;
    padding-right: 35px;
    border-radius: 20px; }
  .c-shrinkIcon__icon {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.2rem;
    color: #a5a5a5;
    width: 30px;
    padding: 5.9px 0px;
    text-align: center; }

.p-sideContent {
  height: calc(100% - 123px);
  overflow-y: auto;
  background-color: #fff; }
  .p-sideContent > .p-card {
    padding-top: 0.9375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.9375rem;
    border-bottom: 1px solid #d9d9d9; }

.p-card {
  min-width: 12.5rem; }
  .p-card a {
    color: #73c0d8;
    font-size: 1.5rem; }
    .p-card a:hover {
      color: #ffa573; }
  .p-card .p-badges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    color: white;
    padding: 0.34375rem 0.75rem; }
    .p-card .p-badges > span:last-child {
      font-weight: bold; }
    .p-card .p-badges + .p-badges {
      margin-left: 1rem; }

.p-locateBtn {
  position: absolute;
  top: 5rem;
  right: 0.55rem;
  z-index: 9999; }

/*# sourceMappingURL=all.css.map */
