.p-wrap {
  position: relative;
}

// 側邊攔
.p-sidebar {
  position: absolute;
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s;
  // mobile 收起來
  @include respond("mobile") {
    transform: translateX(-100%);
  }
  // desktop 收起來
  &.active {
    transform: translateX(-100%);
    // mobile 打開
    @include respond("mobile") {
      transform: translateX(0%);
    }
  }
}
// 地圖容器
.p-map {
  height: 100vh;
  width: calc(100vw - 250px);
  transform: translateX(250px);
  transition: all 0.5s;
  &.active {
    width: 100vw;
    transform: translateX(0px);
  }
  // mobile 移除 desktop translateX
  // width 同步 screen width
  @include respond("mobile") {
    transform: translateX(0px);
    width: 100vw;
  }
}

.p-nav {
  position: sticky;
  background-color: map-get($theme-colors, primary);
  padding: 0.46875rem 0.59375rem;
  color: #fff;
  .p-select {
    height: 31px;
    flex: 1;
    background-color: #fff;
    border: none;
    padding: 0px 10px;
    border-radius: 20px;
    & + .p-select {
      margin-left: 0.5rem;
    }
  }
}

.c-shrinkIcon {
  position: relative;
  &__input {
    height: 31px;
    width: 100%;
    background-color: #fff;
    border: none;
    padding-left: 10px;
    padding-right: 35px;
    border-radius: 20px;
  }
  &__icon {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.2rem;
    color: map-get($theme-colors, info);
    width: 30px;
    padding: 5.9px 0px;
    text-align: center;
  }
}

.p-sideContent {
  height: calc(100% - 123px);
  overflow-y: auto;
  background-color: #fff;
  & > .p-card {
    padding-top: 0.9375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.9375rem;
    border-bottom: 1px solid #d9d9d9;
  }
}
.p-card {
  min-width: 12.5rem;
  & a {
    color: map-get($theme-colors, primary);
    font-size: 1.5rem;
    &:hover {
      color: map-get($theme-colors, secondary);
    }
  }
  .p-badges {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 20px;
    color: white;
    padding: 0.34375rem 0.75rem;
    & > span:last-child {
      font-weight: bold;
    }
    & + .p-badges {
      margin-left: 1rem;
    }
  }
}

.p-locateBtn {
  position: absolute;
  top: 5rem;
  right: 0.55rem;
  z-index: 9999;
}
