body {
  font-size: 1rem;
  color: #333333;
}

$fontSize: (
  h1: 1.8125rem,
  h2: 1.1875rem,
  h3: 0.875rem,
  h4: 0.75rem,
  h5: 0.625rem,
  h6: 0.5rem
);

@each $name, $value in $fontSize {
  .#{$name},
  #{$name} {
    font-size: $value;
  }
}
