.c-loading {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: rgba($color: #000000, $alpha: 0.8);
  &__ring {
    position: absolute;
    width: 58px;
    height: 58px;
    z-index: 9999;
    top: 0.8rem;
    right: 0.8rem;
  }
  &__ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    margin: 8px;
    border: 3px solid rgb(5, 110, 247);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(5, 110, 247) transparent transparent transparent;
  }
  &__ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  &__ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  &__ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
