/* mobile menu click */
.c-sideButton {
  position: absolute;
  top: 123px;
  right: -17px;
  height: 49px;
  width: 17px;
  background: url("../images/baseline_keyboard_arrow_left_white_24dp.png")
    no-repeat center center;
  background-color: map-get($theme-colors, primary);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 5px 5px 0px;
}
